<%- include ('partials/header') %>

<div class="container d-flex justify-content-between">
<h1>Home Page</h1>
<form method='post' action='/logout' >
    <button>Logout</button>
</form>
</div>

<%- include ('partials/footer') %> 